/* Color Palette */
:root {
  --primary-background: #25282A;
  --primary-action: #D6AD42;
  --primary-action-disabled: #F1E3C1;
  --secondary1: #EE9972;
  --secondary2: #FBDABB;
  --highlight-white: #EDEFEE;
  --highlight-black: #333333;
  --highlight-grey: #BEBDB8;
}

main {
  min-height: 80vh;
}

.card-title {
  height: 1.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

.card-comment {
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}


.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.custom-carousel .carousel-item {
  text-align: center; /* Center the image in the carousel item */
}

.custom-carousel .carousel-item img {
  max-height: 500px;
  width: auto;
  display: inline-block;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
  margin: 0;
}

.image-text {
  font-size: 30px;
  position: absolute;
  padding: 200px;
}

@media screen and (max-width: 1000px) {
  .image-text {
    font-size: 25px;
    padding: 150px;
  }
}

@media screen and (max-width: 1000px) {
  .image-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .image-text {
    font-size: 20px;
    padding: 100px;
  }
}


/*
 FORM
*/
.formContainer {
  position: relative;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
}


.formInputes {
display: flex;
align-items: center;
justify-content: center; 
padding-bottom: 20px;
}

form {
width: 300px;
display: grid; 
max-width: 300px; 
gap: 20px;
text-align: left;
}

.formDivs {
display: flex;
flex-direction: column;
} 

.formInput {
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
width: 100%;
box-sizing: border-box;
}

.errorFormInput {
padding: 8px;
border: 1px solid red;
border-radius: 4px;
width: 100%;
box-sizing: border-box;
}

.errorDiv {
margin: 0px;
color: red;
font-size: 13pt;
}

/*
 Submit Button
*/
.CustomButton {
  border-radius: 10px;
  color: var(--highlight-white);
  background-color: var(--primary-action);
  padding: 8px;
  cursor: pointer;
  border-color: var(--primary-action);
}

.CustomButton:hover {
  color: var(--highlight-white);
  background-color: var(--primary-background);
}

.CustomButton[disabled] {
  background-color: var(--primary-action-disabled); 
  cursor: not-allowed;
  color: var(--highlight-black);
}